@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<p>Welcome to our View Template!</p>
<div class="alert alert-primary" role="alert">
  Hi, we use boostrap! Welcome to our View Template!
</div>